.restaurant {
    width: max;
    margin: 5px;
    padding: 10px;
    background: greenyellow;
    display: flex;
}

.restaurant:hover {
    border: 1px solid green;
}

.restaurant__name {
    display: block;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.restaurant__info {
    display: block;
    margin-top: 5px;
    width: 240px;
}

.restaurant__options {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    vertical-align: middle;
    border:1px solid black;
}

.restaurant__options {
    margin: 3px;
}